<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <% if @user.errors.any? %>
        <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
        <div class="form-group">
        <label for="inputName">Name</label>
        <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control mx-auto" %>

        <div class="my-3">
          <label for="inputImage">Image</label>
          <div>
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
        </div>

        <label for="inputIntroduction">Introduction</label>
        <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class: "form-control mx-auto" %>

        <%= f.submit "Update User", class: "btn btn-secondary mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>