<%= render 'users/user_info', user: @user, book: @book %>

<h2>Book detail</h2>
<%= link_to user_path(@books.user.id) do %>
  <%= image_tag @books.user.get_profile_image(100,100) %>
  <p><%= @books.user.name %></p>
<% end %>

<%= link_to book_path(@books.id) do %>
  <p><%= @books.title %></p>
<% end %>

<p><%= @books.body %></p>

<% if @books.user == current_user %>
  <p><%= link_to "Edit", edit_book_path(@books.id) %></p>
  <p><%= link_to "Destroy", book_path(@books), method: :delete %></p>
<% end %>